<!doctype html>
{% extends 'employee/base.html' %}
{% load staticfiles %}

<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
{% block body_block %}
<style>
	.images {
		height: 170px;
		width: 400px;
		margin-top: 3%;
	}
</style>


<!--================End Home Banner Area =================-->

<!--================Count =================-->


<!--================End Count =================-->

<!--================Courses Area =================-->

<!--================End Courses Area =================-->

<!--================Team Area =================-->




<!--================End Team Area =================-->

<!--================Testimonials Area =================-->

<!--================End Testimonials Area =================-->

<!--================ start footer Area  =================-->
{% endblock %}
<!--================ End footer Area  =================-->